@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*  GENERAL  */

.hidden {
  display: none;
}

html {
  color: rgb(68, 184, 68);
  background: black;
}

p {
  font-size: 1.5rem;
}

.App {
  /* animation-name: scroll;
  animation-duration: 5s;
  animation-iteration-count: 1; */
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@keyframes scroll {
  0% {transform: translateY(300%);}
}

.singleCard {
  display: flex;
  justify-content: space-between;
  width: 800px;
  font-size: 2rem;
  cursor: pointer;
}

/*  FORM   */
/* .insert {
  caret-color: transparent;
  animation-name: insert;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  width: 5px;
  height: 40px;
  margin-bottom: 7px;
  background-color: rgb(68, 184, 68);
} */
form {
  width: 100%;
  display: flex;
  justify-content: center;
}

#input {
  outline: none;
  border: none;
  width: 25%;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  background-color: black;
  color: rgb(68, 184, 68);
  caret-color: transparent;
} 

#input[contentEditable="true"]::before {
   content: ">";
   color: rgb(68, 184, 68);
   position: absolute;
   transform: translate(-20px, 10px);
}

#input::after {
   content: "⬛";
   color: rgb(68, 184, 68);
   font-size: 2rem;
   animation: insert 1s infinite;
   animation-timing-function: step-end;
   margin-left: 1px;
}
@keyframes insert {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}


button {
  font-family: 'Press Start 2P', cursive;
  color: rgb(68, 184, 68);
  background-color: transparent;
  padding: 20px;
  border: none;
  cursor: pointer;
  outline: none;
}